Flask==0.10.1
Flask-Login==0.2.7
Flask-Principal==0.4.0
Flask-SQLAlchemy==0.16
IPy==0.81
Jinja2==2.7
MarkupSafe==0.18
MySQL-python==1.2.5
PyMySQL==0.5
PyYAML==3.10
Pygments==1.6
SQLAlchemy==1.0.8
Sphinx==1.2b1
Werkzeug==0.9.1
amqp==1.4.9
amqplib==1.0.2
ansible==1.9.6
anyjson==0.3.3
argparse==1.2.1
asn1crypto==0.24.0
billiard==3.3.0.23
blinker==1.4
celery==3.1.25
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.2
cryptography==2.6.1
decorator==3.4.0
docutils==0.10
enum34==1.0.4
hiredis==0.2.0
httplib2==0.8
idna==2.5
ipaddress==1.0.6
impacket==0.9.15
itsdangerous==0.22
kombu==3.0.37
lockfile==0.9.1
mimeparse==0.1.3
netaddr==0.7.14
oauth2==1.5.211
ordereddict==1.1
paramiko==1.10.1
passlib==1.7.1
psutil==2.1.0
pyOpenSSL==19.0.0
pyasn1==0.1.8
pycparser==2.14
pycrypto==2.6
python-dateutil==1.5
python-ntlm==1.0.1
python-rrdtool==1.4.7
pytz==2013b
redis==2.7.1
redis-simple-cache==0.0.6
requests==2.19.1
retrying==1.3.3
schema==0.2.0
six==1.9.0
urllib3==1.22
validate-email==1.1
vine==1.3.0
wsgiref==0.1.2
yolk==0.4.3
PyJWT==1.5.2
git+https://github.com/alien-dev/python-augeas.git#egg=python_augeas
git+https://github.com/alien-dev/celery-once.git#egg=celery_once
git+https://github.com/alien-dev/celerybeatredis.git#egg=celerybeat_redis
