#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --no-test
	find . -type f -name *.pyc -exec rm {} \;
	# A little trickery here...
	# So, ansible, celeryd and maybe some other packages can be executed using a different user.
	# But python refuses to acknowledge the new user home directory and uses the previous one instead.
	# This fixes that.
	sed -i '/export PATH/a export HOME="/home/avapi"' $(CURDIR)/debian/alienvault-api-core/usr/share/python/alienvault-api-core/bin/activate
