<?php
header("Content-type: text/css");
?>
/* css styles for netflow processing tbales */

.TDnfprocLabel  { 
    padding-left: 5px;
    padding-right: 10px;
    font-weight: bold;
	background: #E5E5E5;
}

.TDnfprocControl  { 
    padding: 3px 10px 3px 60px;
    font-weight: bold;
	text-align: left;
	border-bottom: solid 1px #CCCCCC;
}

.NfProcessing {
	margin-top: 30px;
	margin-bottom: 5px;
}

#lookupbox{ /*CSS for pop up hint box */
	position:absolute;
	top: 0;
	background-color: lightyellow;
	width: 400px; /*Default width of hint.*/ 
	height: 180px; /*Default height of hint.*/ 
	padding: 3px;
	border:1px solid black;
	font:normal 10px Verdana;
	line-height:18px;
	z-index:100;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	visibility: hidden;
}

.nfsen_menu
{
    text-align: right;
}
.nfsen_menu a
{
    text-transform: uppercase;
}

.details_error
{
    text-align: center;
    margin-top: 10px;
}

/*
.flowlist {
	color: black;
	font-family:"Courier New", Courier, monospace;
    font-size: 14px;
}
.flowlist a {
	text-decoration: none;
	color: black;
	font-family:Courier,monospace;
    font-size: 14px;
}
.flowlist a:visited { 
	text-decoration: none;
	color: black;
	font-family:Courier,monospace;
    font-size: 14px;
}
.flowlist a:active {
	text-decoration: none;
	font-family:Courier,monospace;
    font-size: 14px;
}
.flowlist a:hover {
	background: mediumspringgreen;
	font-family:Courier,monospace;
    font-size: 14px;
}
*/
