Source: alienvault-idm
Section: net
Priority: optional
Maintainer: AlienVault package developers <debian-devel@alienvault.com>
Build-Depends: debhelper (>= 5.0.37.2), docbook-to-man, libglib2.0-dev (>= 2.4.6), libgda-4.0-dev (>= 4.2.11), libgnet-dev (>= 2.0.4), zlib1g-dev, libjson-glib-dev (>= 0.10.2), libmongo-client-dev (>= 0.1.4), libgeoip-dev (>= 1.4.6), uuid-dev, libpcre3-dev (>= 8.02), openssl, libssl-dev (>= 0.9.8), libmysqlclient-dev (>= 5.5.29), libsoup2.4-dev, automake, gettext, dpatch
Standards-Version: 3.8.0
Homepage: http://www.alienvault.com/

Package: alienvault-idm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ossim-server, ossim-utils
Description: Open Source Security Information Management (IDM)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and
 qualification in one single tool.
 .
 This package contains the identity manager server of OSSIM.
 .
 Homepage: http://www.alienvault.com/

Package: alienvault-idm-dbg
Architecture: any
Section: devel
Priority: extra
Depends: alienvault-idm (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for alienvault-idm
