/* Luca Deri September 1st, 2000 */

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*background: #fff url("/white_bg.gif") repeat-x;*/
	background: #fff;
}

th
{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
white-space: nowrap;
border:none;
background-color: #D1D7DF;
}

table { 
border-color:black; border-width:1px;
border-spacing: 1px;
}

#ntopMenuID table, th, tr, td  { 
border-spacing: 0px;
}

span.leftmenuitem
{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
}

tr
{
padding:1px; border:none;
}


td
{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
border:none;
background-color: #ededed;
}

.wrap { 
white-space: normal;
}

address
{font-family: Arial, Helvetica, sans-serif;
font-size: 8pt}

h5
{font-family: Arial, Helvetica, sans-serif;
font-size: 8pt}

form
{font-family: Arial, Helvetica, sans-serif;
font-size: 12px}

h1
{font-family: Helvetica, Verdana, Arial, sans-serif;
text-decoration:underline;
text-align: center;
font-size: 16pt;
font-weight: bold}

h2
{font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14pt;
font-weight: bold}

A:link
{color: #223399;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none}

A:visited
{color: #223399;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none}

A:hover
{color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: underline}

A:link.nav
{color: #000000;
font-family: Helvetica, Verdana, Arial, sans-serif}

A:visited.nav
{color: #000000;
font-family: Helvetica, Verdana, Arial, sans-serif}

A:hover.nav
{color: black;
font-family: Helvetica, Verdana, Arial, sans-serif}

.nav
{color: #000000;
font-family: Helvetica, Verdana, Arial, sans-serif}

A.age0min { color:#FF0000 }
A.age5min { color:#FF00FF }
A.age15min { color:#FF7F00 }
A.age30min { color:#007FFF }
A.age60min { color:#0000FF }

/* For the color code table */
A:visited.age0min { color:#FF0000 }
A:visited.age5min { color:#FF00FF }
A:visited.age15min { color:#FF7F00 }
A:visited.age30min { color:#007FFF }
A:visited.age60min { color:#0000FF }

