Package: alienvault-dummy-database
Version: 2.3-1
Architecture: all
Maintainer: josemc <jdelacasa@alienvault.com>
Installed-Size: 36
Depends: mysql-client-5.1, mysql-server-5.1, mysql-common, ossim-mysql, ossim-utils, munin-node, mytop, libconfig-tiny-perl, dialog, debconf-utils, ossim-cd-tools
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
