.trends { background-color: white; color: black; }

.dataTitle { text-align: center; font-weight: bold; font-size: 12pt; }

.reportRange { text-align: center; font-weight: bold; font-size: 10pt; }
.reportDuration { text-align: center; font-size: 8pt; }
.reportTime { text-align: center; font-size: 8pt; }

.reportSelectTitle { text-align: center; font-weight: bold; font-size: 12pt; }
.reportSelectSubTitle { text-align: right; font-size: 10pt; }
.reportSelectItem { text-align: left; font-size: 8pt; }

.helpfulHint { text-align: left; font-size: 8pt; font-style: italic; text-align: center; }

.popupText { font-size: 8pt; font-weight: bold; }
