Source: alienvault-i18n-messages
Maintainer: AlienVault API team <packages@alienvault.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4
XS-Python-Version: >= 2.7

Package: alienvault-i18n-messages
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
XS-Python-Version: >= 2.7
Provides: ${python:Provides}
Description: AlienVault Messages Module"

