Source: ossim-database-migration
Section: net
Priority: optional
Maintainer: AlienVault package developers <debian-devel@alienvault.com>
Origin: AlienVault
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.alienvault.com/

Package: ossim-database-migration
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Database schema migration script
 Database schema migration script
