<?php
header("Content-type: text/css");
?>

.date-range-selected > .ui-state-active,
.date-range-selected > .ui-state-default 
{
   background: none;
   background-color: lightsteelblue;
}

.default-date > .ui-state-active,
.default-date > .ui-state-default 
{
    background: none;
    background-color: #c3d4ea;
}

.evented-date > .ui-state-active,
.evented-date > .ui-state-default 
{
   font-weight: bold;
}


#ui-datepicker-div
{
    display: none;
    border: 1px solid #DFDFDF;
    padding: 0px;
    z-index: 999 !important;
}

#ui-datepicker-div .ui-widget
{
    font-size: 11px;
}

.ui-datepicker 
{ 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    padding:0px; 
}

.ui-datepicker-trigger,
.ui-datepicker-trigger:hover
{
    border:none;
    background:transparent;
    position:absolute;
    left:-20px;
    top:0px;
    padding:2px;
}

.ui-datepicker-disabled {
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

.ui-datepicker-trigger img
{
    height:14px;
}

.ui-datepicker-header
{
    background: #D3D3D3;
}

.ui-state-default, .ui-widget-content .ui-state-default
{
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
    outline: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
{
    border: 1px solid #4A4948;
    background: none repeat scroll 0 0 #C4C0BB;
    color: #4A4948;
}


.ui-datepicker-month, .ui-datepicker-year
{
    color: #ffffff;
}

#ui-datepicker-div .ui-state-hover
{
    border: 1px solid #d3d3d3 !important;
    background: #e6e6e6 !important;
    font-weight: normal !important;
    color: #555555 !important;
    outline: none !important;
}

.ui-datepicker-calendar
{
    border: 0px;
}

#ui-datepicker-div .ui-icon 
{
    width: 16px;
    height: 16px;
    background-image: url(/ossim/pixmaps/theme/ui-icons-dashboard.png) !important;
    cursor: pointer;
}

#ui-datepicker-div .ui-widget-header 
{ 
    border:none; 
    background: #635F5D; 
    color: white; 
    font-weight: bold;
}

#ui-datepicker-div .ui-corner-right 
{  
    -moz-border-radius-topright: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-bottom-right-radius: 0px; 
}

#ui-datepicker-div .ui-corner-left 
{ 
    -moz-border-radius-topleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
}

#ui-datepicker-div .ui-corner-bottom 
{ 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-bottom-left-radius: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-bottom-right-radius: 0px;
}

#ui-datepicker-div .ui-corner-all 
{ 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
}

.datepicker_range,
.datepicker_date
{
    margin:5px 0 0 0px;
}

.datepicker_range input,
.datepicker_date input
{
	    border: none !important;
	    background-color: rgba(150,150,150,0.1) !important;
	    height: 20px !important;
	    width: 70px !important;
}

.calendar_from
{
	    float: left;
}
.calendar_to
{
	    float:        left;
	    padding-left: 16px;
}
.calendar_separator
{
	    float:       left;
	    line-height: 25px;
	    width:       15px;
	    text-align:  center;
} 

.calendar
{
    position: relative;
}