<?php
header("Content-type: text/css");
?>
/**
* Multiselect
*/
.multiselect {
    width: 97%;
    height: 300px;
}

.ui-multiselect { border: solid 1px; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }


.ui-draggable {border: solid 1px;}

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { padding: 2px 0px 2px 10px; white-space: nowrap }
.ui-multiselect ul.selected li:hover { background: #C7C7C7; }
.ui-multiselect ul.selected li a { background:transparent; }
.icons-white { background-image:url(../pixmaps/theme/ui-icons_ffffff_256x240.png); }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding: 2px 0px 2px 10px; color:black; opacity:.85; white-space: nowrap }
.ui-multiselect ul.available li:hover { background: #C7C7C7; }
.ui-multiselect ul.available li a { background:transparent; }

.ui-multiselect .ui-state-default { background-color: #DFDFDF; border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}
.ui-multiselect .busy { left: 0px; float: left; padding: 7px 7px 7px 25px; z-index: 1; background: url(../pixmaps/theme/loading.gif) 4px 50% no-repeat; }
.ui-multiselect .overlay { background: #aaaaaa; opacity: .30;filter:Alpha(Opacity=30); }

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { float: left; margin-right:5px; }
.ui-multiselect li a.action { position: absolute; right: 10px; top: 2px; }
 
.ui-multiselect input.search { height:15px; padding: 1px; opacity: 0.85; margin: 4px; width: 180px; background-color: white}
