# Created by HenWen - Configuration for Snort
# This file was created on: 2004-01-14 21:43:35 +0100
# Slightly modified. DK.

# Snort config setup
config dump_payload

# Network variable declarations
var HOME_NET 192.168.1.0/24
var EXTERNAL_NET any
var SMTP_SERVERS $HOME_NET
var HTTP_SERVERS $HOME_NET
var SQL_SERVERS $HOME_NET
var DNS_SERVERS $HOME_NET
var TELNET_SERVERS $HOME_NET
var SHELLCODE_PORTS !80
var HTTP_PORTS 80
var ORACLE_PORTS 1521
var AIM_SERVERS [64.12.24.0/24,64.12.25.0/24,64.12.26.14/24,64.12.28.0/24,64.12.29.0/24,64.12.161.0/24,64.12.163.0/24,205.188.5.0/24,205.188.9.0/24,205.188.10.0/24]
var RULE_PATH /usr/local/share/snort/rules

# Snort special options
config detection: search-method lowmem

# Preprocessor setup
preprocessor frag2
preprocessor stream4: detect_scans, disable_evasion_alerts
preprocessor stream4_reassemble
preprocessor http_decode: 80 iis_alt_unicode iis_flip_slash double_encode full_whitespace
preprocessor rpc_decode: 111 32771
preprocessor bo: -nobrute
preprocessor telnet_decode
preprocessor portscan: $HOME_NET 4 3 portscan.log
preprocessor portscan-ignorehosts: 192.168.1.7
var SPADEDIR /var/log/snort
preprocessor spade: dest=alert statefile=$SPADEDIR/spade.rcv logfile=$SPADEDIR/spadelog.txt
preprocessor spade-homenet: any
preprocessor spade-detect: type=closed-dport to=home probmode=3 proto=tcp tcpflags=synonly relscore=off thresh=4.7886 id=HenWenSpadeSupport wait=3 
preprocessor spade-detect: type=closed-dport to=home probmode=3 proto=tcp tcpflags=synonly relscore=off thresh=4.7886 id=HenWenSpadeSupport wait=3 revwaitrpt
preprocessor spade-adapt: id=HenWenSpadeSupport target=20 obsper=2 newweight=0.5 bycount=1
preprocessor spade-threshlearn: id=HenWenSpadeSupport obsper=24 target=200
preprocessor spade-survey: id=HenWenSpadeSupport surveyfile=$SPADEDIR/survey.txt interval=60
preprocessor spade-stats: entropy uncondprob condprob
preprocessor spade-detect: type=dead-dest tcpflags=weird wait=2
preprocessor spade-detect: type=dead-dest tcpflags=synack wait=2
preprocessor spade-detect: type=dead-dest tcpflags=setup wait=2
preprocessor spade-detect: type=dead-dest tcpflags=established wait=5
preprocessor spade-detect: type=dead-dest tcpflags=teardown wait=2
preprocessor spade-detect: type=dead-dest proto=udp wait=2
preprocessor spade-detect: type=dead-dest proto=icmp icmptype=noterr wait=2
preprocessor spade-detect: type=dead-dest proto=icmp icmptype=err wait=2
preprocessor spade-detect: type=odd-dport proto=tcp wait=2
preprocessor spade-detect: type=odd-dport proto=udp wait=5
preprocessor spade-detect: type=odd-dport from=nothome proto=tcp
preprocessor spade-detect: type=odd-dport from=nothome proto=udp
preprocessor spade-detect: type=odd-typecode
preprocessor spade-detect: type=odd-typecode to=nothome
preprocessor spade-detect: type=odd-port-dest proto=tcp Xdports=80 wait=2
preprocessor spade-detect: type=odd-port-dest proto=udp Xdports=80 wait=2
#preprocessor spade-detect: type=odd-port-dest from=nothome proto=tcp Xdports=80
#preprocessor spade-detect: type=odd-port-dest from=nothome proto=udp Xdports=80


# Output setup
output alert_full
#output alert_unixsock
output alert_fast: fast.log
#output alert_syslog: LOG_AUTHPRIV LOG_ALERT
output database: alert, mysql, user=root password=mypassword dbname=snort host=localhost sensor_name=host_ip

include $RULE_PATH/classification.config
include $RULE_PATH/reference.config

# Rule set setup
include $RULE_PATH/bad-traffic.rules
include $RULE_PATH/exploit.rules
include $RULE_PATH/scan.rules
include $RULE_PATH/finger.rules
include $RULE_PATH/ftp.rules
include $RULE_PATH/telnet.rules
include $RULE_PATH/smtp.rules
include $RULE_PATH/pop2.rules
include $RULE_PATH/pop3.rules
include $RULE_PATH/imap.rules
include $RULE_PATH/rpc.rules
include $RULE_PATH/rservices.rules
include $RULE_PATH/dos.rules
include $RULE_PATH/ddos.rules
include $RULE_PATH/dns.rules
include $RULE_PATH/tftp.rules
include $RULE_PATH/sql.rules
include $RULE_PATH/mysql.rules
include $RULE_PATH/oracle.rules
include $RULE_PATH/x11.rules
include $RULE_PATH/icmp.rules
include $RULE_PATH/netbios.rules
include $RULE_PATH/snmp.rules
include $RULE_PATH/attack-responses.rules
include $RULE_PATH/misc.rules
include $RULE_PATH/web-client.rules
include $RULE_PATH/web-cgi.rules
include $RULE_PATH/web-coldfusion.rules
include $RULE_PATH/web-iis.rules
include $RULE_PATH/web-misc.rules
include $RULE_PATH/web-frontpage.rules
include $RULE_PATH/web-attacks.rules
include $RULE_PATH/web-php.rules
include $RULE_PATH/backdoor.rules
include $RULE_PATH/shellcode.rules
include $RULE_PATH/policy.rules
include $RULE_PATH/chat.rules
include $RULE_PATH/p2p.rules
include $RULE_PATH/multimedia.rules
include $RULE_PATH/porn.rules
include $RULE_PATH/info.rules
include $RULE_PATH/icmp-info.rules
include $RULE_PATH/virus.rules
include $RULE_PATH/other-ids.rules

