Source: alienvault-dummy-server
Section: net
Priority: optional
Maintainer: AlienVault package developers <debian-devel@alienvault.com>
Origin: AlienVault
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.alienvault.com/

Package: alienvault-dummy-server
Architecture: all
Pre-Depends: alienvault-dummy-common (>= ${source:Upstream-Version}),
 alienvault-openssl (>= ${source:Upstream-Version}),
 ossim-utils (>= 1:${source:Upstream-Version})
Depends: ${shlibs:Depends}, ${misc:Depends}, ossim-server, percona-server-client-5.5 | mysql-client-5.1, libconfig-tiny-perl, dialog
Description: Open Source Security Information Management (Server)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and
 qualification in one single tool.
 .
 This package contains the correlation engine server.
 .
 Homepage: http://www.alienvault.com/
