Source: ossim
Section: net
Priority: optional
Maintainer: AlienVault package developers <debian-devel@alienvault.com>
Build-Depends: debhelper (>= 5.0.37.2),
 libbson-dev,
 docbook-to-man,
 libglib2.0-dev (>= 2.4.6),
 libgda-5.0-dev (>= 5.2.2),
 libgnet-dev (>= 2.0.4),
 zlib1g-dev,
 libjson-glib-dev (>= 0.10.2),
 libgeoip-dev,
 automake,
 python-all-dev,
 python-support,
 gettext,
 dpatch,
 libssl-dev,
 uuid-dev,
 libpcre3-dev,
 libsoup2.4-dev
Standards-Version: 3.8.0
Homepage: http://www.alienvault.com/

Package: ossim
Architecture: all
Depends: ossim-agent, ossim-framework , ossim-framework-daemon , ossim-server, ossim-mysql
Description: Open Source Security Information Management (Meta-package)

Package: ossim-server
Architecture: any
Pre-Depends: locate, alienvault-crypto, ossim-utils
Depends: ${shlibs:Depends}, ${misc:Depends}, libgda-5.0-mysql, sudo, lsb-base (>= 3.0-6), ossim-taxonomy, alienvault-directives-free, alienvault-crosscorrelation-free, ossim-geoip
Description: Open Source Security Information Management (Server)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and
 qualification in one single tool.
 .
 This package contains the correlation engine server of OSSIM.
 .
 Homepage: http://www.alienvault.com/

Package: ossim-server-dbg
Architecture: any
Section: debug
Depends: ossim-server (= ${binary:Version})
Description: debugging symbols for ossim-server

Package: ossim-framework
Architecture: all
Pre-Depends: alienvault-crypto, ossim-framework-daemon (= ${binary:Version}), ossim-utils
Breaks: alienvault-mysql (= 10:4.15.2-21),
  alienvault-mysql (= 10:4.15.1-11),
  alienvault-mysql (= 10:4.15.0.1-42),
  alienvault-mysql (= 10:4.15.0-42),
  alienvault-mysql (= 10:4.14.0-10),
  alienvault-mysql (<< 5.0.0)
Depends: ${misc:Depends}, ossim-framework-daemon, libphp-adodb (>= 4.21), php5-json, php5-adodb, php5-mysql, php5-gd, php5-xsl, php5-mcrypt, rrdtool (>= 1.1.0), librrdp-perl (>= 1.1.0), librrds-perl (>= 1.1.0), libnet-netmask-perl, nmap, php-fpdf (>= 1.52), libphp-jpgraph (>= 1.5.2), ttf-bitstream-vera, lsb-base (>= 3.0-6), ossim-geoip | ossim-geoip-pro, libcrypt-cbc-perl, libmime-lite-perl, libdate-calc-perl, libcrypt-blowfish-perl, libdate-manip-perl, nfsen, ossim-compliance, libclass-methodmaker-perl, binutils, locales-all, locales, php-db, ossec-hids, libapache2-mod-authnz-external, libapache2-mod-auth-alienvault, libproc-pid-file-perl, python-scapy, php5-curl, php5-tidy
Description: Open Source Security Information Management (Framework)
 OSSIM Framework

Package: ossim-framework-daemon
Architecture: all
Pre-Depends: alienvault-crypto
Depends: ${python:Depends}, python-adodb, python-mysqldb, python-rrdtool, python-pycurl, python-subnettree, python-tz,python-sqlalchemy, python-suds
Conflicts: ossim-framework (<< 0.9.8-14)
Description: Open Source Security Information Management (Framework Daemon)
 Ossim Framework Daemon

Package: ossim-utils
Architecture: all
Depends: ${misc:Depends}, perl (>= 5.8.4), libswitch-perl, libtime-parsedate-perl, libcompress-zlib-perl, libdbi-perl, libdbd-mysql-perl, librrds-perl (>= 1.1.0), libxml-parser-perl, libcrypt-cbc-perl, libmime-lite-perl, libdate-calc-perl, python-ipy, python-pycurl, python-mysqldb, sshpass
Description: Open Source Security Information Management (Utils)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and
 qualification in one single tool.
 .
 Homepage: http://www.alienvault.com/

