#!/bin/bash -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_input medium ossim-server/server_name || true     
db_go   
db_input medium ossim-server/server_ip || true      
db_go   

db_input medium ossim-server/framework_name || true
db_go
db_input medium ossim-server/framework_ip || true
db_go
db_input medium ossim-server/framework_port || true
db_go

db_input medium ossim-server/ossim_base || true
db_go
db_input medium ossim-server/ossim_host || true
db_go
db_input medium ossim-server/ossim_user || true
db_go
db_input medium ossim-server/ossim_pass || true
db_go

db_input medium ossim-server/snort_base || true
db_go
db_input medium ossim-server/snort_host || true
db_go
db_input medium ossim-server/snort_user || true
db_go
db_input medium ossim-server/snort_pass || true
db_go

db_input medium ossim-server/osvdb_base || true
db_go
db_input medium ossim-server/osvdb_host || true
db_go
db_input medium ossim-server/osvdb_user || true
db_go
db_input medium ossim-server/osvdb_pass || true
db_go

