#!/bin/bash -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_input medium ossim-utils/base || true
db_go

db_input medium ossim-utils/host || true
db_go

db_input medium ossim-utils/user || true
db_go

db_input medium ossim-utils/pass || true
db_go

db_input medium ossim-utils/phpgacl_base || true
db_go

db_input medium ossim-utils/phpgacl_host || true
db_go

db_input medium ossim-utils/phpgacl_user || true
db_go

db_input medium ossim-utils/phpgacl_pass || true
db_go

