# AlienVault MySQL database server configuration file.

[client]
port=3306
socket=/var/run/mysqld/mysqld.sock

[mysqld_safe]
socket=/var/run/mysqld/mysqld.sock
nice=0

[mysqld]
server-id=0
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
port=3306
basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp
language=/usr/share/mysql/english
max_allowed_packet=512M
event_scheduler=ON
bind-address=0.0.0.0
key_buffer=16M
join_buffer_size=128k
sort_buffer_size=2M
read_rnd_buffer_size=256k
max_heap_table_size=16M
thread_stack=512K
thread_cache_size=100
transaction-isolation=READ-COMMITTED
binlog-format=mixed
myisam-recover=BACKUP
max_connections=120
key_buffer_size=16M
table_cache=400
tmp_table_size=16M
thread_concurrency=10
concurrent_insert=1
#skip_name_resolve
interactive_timeout=28800
wait_timeout=28800
slave-skip-errors=OFF
skip-external-locking
slave_load_tmpdir=/tmp
tmpdir=/tmp

# Query Cache Configuration
query_cache_limit=1M
query_cache_size=16M
query_cache_type=1

# Logging and Replication
#log=/var/log/mysql/mysql.log
#log_slow_queries=/var/log/mysql/mysql-slow.log
#long_query_time=2
#log_bin=/var/log/mysql/mysql-bin.log
auto_increment_increment=1
auto_increment_offset=1
expire_logs_days=2
max_binlog_size=100M
#binlog_do_db=include_database_name
#binlog_ignore_db=include_database_name
#log-queries-not-using-indexes
#log_error=/var/log/mysql/error.log
log_bin_trust_function_creators=OFF

# InnoDB
innodb_doublewrite_file=/var/lib/mysql/ib_doublewrite
innodb_file_per_table=1
innodb_fast_shutdown=0
innodb_buffer_pool_size=128M
innodb_additional_mem_pool_size=8M
#innodb_flush_method=fsync
innodb_log_buffer_size=8M
innodb_thread_concurrency=0
innodb_flush_log_at_trx_commit=1
innodb_commit_concurrency=0
innodb_log_file_size=5M

# Security Features
# chroot=/var/lib/mysql/
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet=256M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
key_buffer=16M

# [MYSQL_CLUSTER]
# ndb-connectstring=127.0.0.1

#!includedir /etc/mysql/conf.d/
