Source: alienvault-center
Section: net
Priority: optional
Maintainer: AlienVault package developers <debian-devel@alienvault.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.alienvault.com
#Vcs-Git: git://git.debian.org/collab-maint/alienvault-center.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/alienvault-center.git;a=summary

Package: alienvault-center
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libhttp-daemon-ssl-perl, ssl-cert,
 ossim-cd-tools (>= ${source:Upstream-Version}),
 ossim-utils (>= 1:${source:Upstream-Version})
Description: Alienvault-center daemon
 Alienvault-center daemon
