Source: ossim-agent
Section: net
Priority: optional
Maintainer: AlienVault package developers <debian-devel@alienvault.com>
Build-Depends: debhelper (>= 7), docbook-to-man, python-support (>= 0.5.3), config-package-dev
Standards-Version: 3.8.0
Homepage: http://www.alienvault.com/

Package: ossim-agent
Architecture: all
Suggests: arpwatch, nmap, ntop, osiris, p0f, pads, snort, tcptrack
Pre-Depends: python-tz, python-pyinotify
Depends: ${python:Depends},alienvault-plugins, lsb-base (>= 3.0-6), python-adodb, python-mysqldb, python-paramiko, python-pymssql, python-libpcap,python-nmap, python-ldap, python-pyinotify, python-geoip, python-yaml, alienvault-agent-generator
Provides: ossim-agent
Replaces: ossim-agent
Description: Open Source Security Information Management (Agent)
 OSSIM is a distribution of open source products that are integrated
 to provide an infrastructure for security monitoring. It provides a
 framework for centralizing, organizing, and improving detection and
 display for monitoring security events.
 .
 OSSIM unify network monitoring, security, correlation and
 qualification in one single tool.
 .
 An agent in OSSIM is set of python script that gathers and sends the
 output of the different plugin or tool to the correlation engine for
 further process.
 .
  Homepage: http://www.alienvault.com/

