Source: alienvault-dummies-config
Section: misc
Priority: optional
Maintainer: AlienVault package developers <debian-devel@alienvault.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.alienvault.com/

# the rule of thumb is that the configuration should go to its nearest metapackage
# ie:
# 0   -> prads
# 1st -> alienvault-prads
# 2nd -> alienvault-sw-sensor
# 3rd -> alienvault-hw-sensor-standard

#some candidates

#alienvault-prads
#alienvault-apache
#alienvault-mysql
#alienvault-monit
#alienvault-os (cambios al sistema operativo)
# - number of file descriptors
#alienvault-syslog
#alienvault-logrotate
#alienvault-samba

Package: alienvault-apache2
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: apache2, alienvault-crypto (>= ${source:Upstream-Version})
Description: Configuration package for apache2

Package: alienvault-augeas
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: augeas-tools
Description: Configuration package for augeas

Package: alienvault-clean-sessions
Architecture: all
Description: Package to clean active sessions during startup

Package: alienvault-crypto
Architecture: all
Pre-Depends: openssh-client,
 ossim-utils (>= 1:${source:Upstream-Version}),
 alienvault-openssl (>= ${source:Upstream-Version})
Depends: ${misc:Depends}
Description: Configuration package for the AlienVault CA, client certificates and keys

Package: alienvault-openssh
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: openssh-client, openssh-server
Description: Configuration package for OpenSSH

Package: alienvault-depmod
Architecture: all
Depends: ${misc:Depends}
Description: Configuration package for certain kernel modules, to let them be properly loaded in boot

Package: alienvault-firewall
Architecture: all
Depends: ${misc:Depends}
Replaces: alienvault-firewall
Description: Configuration package for firewall

Package: alienvault-fprobe
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: alienvault-firewall, fprobe
Replaces: alienvault-fprobe
Description: Configuration package for fprobe

Package: alienvault-logrotate
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: logrotate
Description: Configuration package for logrotate

Package: alienvault-memcached
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: memcached
Description: Configuration package for memcached

Package: alienvault-monit
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: monit
Description: Configuration package for monit

Package: alienvault-mongodb
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: mongodb-server
Description: Configuration package for MongoDB

Package: alienvault-mysql
Architecture: all
Pre-Depends: ossim-utils, percona-server-server-5.6
Depends: ${misc:Depends}
Replaces: alienvault-mysql
Description: Configuration package for MySQL

Package: alienvault-nagios
Architecture: all
Depends: ${misc:Depends}, percona-nagios-plugins
Pre-Depends: nagios3, nagios3-cgi, nagios-images, nagios-plugins
Description: Configuration package for nagios

Package: alienvault-network
Architecture: all
Pre-Depends: ipcalc, augeas-tools
Depends: ${misc:Depends}, resolvconf
Replaces: alienvault-network
Description: Configuration package for network settings

Package: alienvault-nfsen
Architecture: all
Pre-Depends: nfsen
Depends: ${misc:Depends}, libmailtools-perl
Replaces: nfsen
Description: Configuration package for nfsen

Package: alienvault-openssl
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: openssl
Description: Configuration package for OpenSSL

Package: alienvault-openvas
Architecture: all
Depends: ${misc:Depends}, openvas-cli (>= 1.4)
Pre-Depends: openvas-scanner (>= 5.0.4), openvas-manager (>= 6.0.5), alienvault-redis-server-openvas, rng-tools, sqlite3, xsltproc
Conflicts: alienvault-openvas-plugins
Replaces: alienvault-openvas-plugins
Description: Configuration package for OpenVAS

Package: alienvault-ossec
Architecture: all
Depends: ${misc:Depends}, alienvault-ossec-rules
Pre-Depends: ossec-hids
Description: Configuration package for Ossec
Replaces: ossec-hids

Package: alienvault-pam
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: libpam-modules
Description: Configuration package for pam

Package: alienvault-php5
Architecture: all
Depends: ${misc:Depends}, php5-cli (>= 5.6.9), libapache2-mod-php5 (>= 5.6.9)
Pre-Depends: php5, php5-common, php5-cli, libapache2-mod-php5
Description: Configuration package for php5

Package: alienvault-plymouth
Architecture: all
Pre-Depends: plymouth, initramfs-tools, v86d, grub-pc
Depends: ${misc:Depends}, plymouth-themes
Replaces: plymouth
Description: Graphical boot animation for AlienVault appliances

Package: alienvault-postfix
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: postfix
Description: Configuration package for postfix

Package: alienvault-prads
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: prads
Description: Configuration package for prads

Package: alienvault-redis-server
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: redis-server (>= 3.0.2)
Replaces: alienvault-redis-server, redis-server
Description: Configuration package for redis-server

Package: alienvault-redis-server-otx
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: redis-server (>= 3.0.2)
Replaces: alienvault-redis-server-otx
Description: Configuration package for Redis instance of OTX

Package: alienvault-redis-server-openvas
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: redis-server (>= 3.0.2)
Replaces: alienvault-redis-server-openvas
Description: Configuration package for Redis instance of OpenVAS 8

Package: alienvault-rsyslog
Architecture: all
Depends: ${misc:Depends}
# Pre-Depends: rsyslog # rsyslog is already a "Priority: important" package
Description: Configuration package for rsyslog

Package: alienvault-suricata
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: suricata, suricata-hyperscan, ossim-agent
Replaces: suricata, suricata-rules-default-pro, suricata-rules-default-open
Description: Configuration package for Suricata IDS

Package: alienvault-snmpd
Architecture: all
Depends: alienvault-firewall (>= ${source:Upstream-Version})
Replaces: alienvault-snmpd
Description: Configuration package for snmpd

Package: alienvault-sysctl
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: procps
Description: Configuration package for sysctl

Package: alienvault-system-benchmark
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, sysbench, mbw
Description: AlienVault System Benchmark

Package: alienvault-vpn
Architecture: all
Pre-Depends: alienvault-crypto, ossim-utils, alienvault-api-core, augeas-tools
Depends: alienvault-firewall (>= ${source:Upstream-Version}), easy-rsa
Replaces: alienvault-vpn
Description: Configuration package for vpn infraestructure

Package: alienvault-samba
Architecture: all
Depends: ${misc:Depends}
Pre-Depends: samba-common
Description: Configuration package for samba
