Source: suricata-rules-default
Section: contrib/net
Priority: optional
Maintainer: AlienVault VRT <vrt@alienvault.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.openinfosecfoundation.org

Package: suricata-rules-default
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, suricata
Description: flexible Network Intrusion Detection System ruleset
 Suricata default ruleset which provides a common set of accepted and test
 network intrusion detection rules developed by the EmergingThreats and
 Snort community.
 .
 ET custom ruleset (open)
 Snort registered ruleset
