#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# /etc/suricata
# /etc/suricata/rules
# /usr/share/suricata-rules-default/

#DSTDIR = $(CURDIR)/debian/suricata-rules-default/etc/suricata
DSTDIR = $(CURDIR)/debian/suricata-rules-default/usr/share/suricata-rules-default/d_clean/etc/suricata
#DSTDIR2 = $(CURDIR)/debian/suricata-rules-default/usr/share/suricata-rules-default/d_clean/

CFLAGS = -Wall -g


ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir

	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

#	-$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

# rules
# std / common:
#	cp -pf $(CURDIR)/rules/default.rules/*.rules $(DSTDIR)/rules
#	cp -pf $(CURDIR)/rules/1.3.1/default.rules/*.rules $(DSTDIR)/rules/1.3.1
# open / pro:#
#	cp -pf $(CURDIR)/rules/emerging.rules/*.rules $(DSTDIR)/rules
	cp -pf $(CURDIR)/rules/1.3.1/emerging.rules/*.rules $(DSTDIR)/rules/1.3.1
	cp -pf $(CURDIR)/rules/1.3.1/alienvault.rules/*.rules $(DSTDIR)/rules/1.3.1

# classification, reference, generators, etc
## std / common 
#	cp -pf $(CURDIR)/fs/etc/attribute_table.dtd $(DSTDIR)
#	cp -pf $(CURDIR)/fs/1.3.1/etc/attribute_table.dtd $(DSTDIR)/1.3.1
#	cp -pf $(CURDIR)/fs/etc/classification.config $(DSTDIR)
	cp -pf $(CURDIR)/fs/1.3.1/etc/classification.config $(DSTDIR)/1.3.1
#	cp -pf $(CURDIR)/fs/etc/community-sid-msg.map $(DSTDIR)
#	cp -pf $(CURDIR)/fs/1.3.1/etc/community-sid-msg.map $(DSTDIR)/1.3.1
#	cp -pf $(CURDIR)/fs/etc/gen-msg.map $(DSTDIR)
#	cp -pf $(CURDIR)/fs/1.3.1/etc/gen-msg.map $(DSTDIR)/1.3.1
#	cp -pf $(CURDIR)/fs/etc/sid-msg.map $(DSTDIR)
#	cp -pf $(CURDIR)/fs/1.3.1/etc/sid-msg.map $(DSTDIR)/1.3.1
#	cp -pf $(CURDIR)/rules/emerging.rules/compromised-ips.txt $(DSTDIR)
#	cp -pf $(CURDIR)/rules/1.3.1/emerging.rules/compromised-ips.txt $(DSTDIR)/1.3.1
#	cp -pf $(CURDIR)/rules/emerging.rules/rbn-ips.txt $(DSTDIR)
#	cp -pf $(CURDIR)/rules/1.3.1/emerging.rules/rbn-ips.txt $(DSTDIR)/1.3.1
#	cp -pf $(CURDIR)/rules/emerging.rules/LICENSE $(DSTDIR)/rules
	cp -pf $(CURDIR)/rules/1.3.1/emerging.rules/LICENSE $(DSTDIR)/rules/1.3.1
#	cp -pf $(CURDIR)/rules/emerging.rules/BSD-License.txt $(DSTDIR)/rules
	cp -pf $(CURDIR)/rules/1.3.1/emerging.rules/BSD-License.txt $(DSTDIR)/rules/1.3.1
#	cp -pf $(CURDIR)/rules/emerging.rules/gpl-2.0.txt $(DSTDIR)/rules
	cp -pf $(CURDIR)/rules/1.3.1/emerging.rules/gpl-2.0.txt $(DSTDIR)/rules/1.3.1
#	cp -pf $(CURDIR)/rules/default.rules/VRT-License.txt $(DSTDIR)/rules
#	cp -pf $(CURDIR)/rules/1.3.1/default.rules/VRT-License.txt $(DSTDIR)/rules/1.3.1
# open:
#	cp -pf $(CURDIR)/rules/emerging.rules/suricata-open.yaml $(DSTDIR)
#	cp -pf $(CURDIR)/rules/1.3.1/emerging.rules/suricata-open.yaml $(DSTDIR)/1.3.1
# pro:
#	cp -pf $(CURDIR)/rules/emerging.rules/etpro.conf $(DSTDIR)
#	cp -pf $(CURDIR)/rules/emerging.rules/sid-msg.map $(DSTDIR)/etpro-sid-msg.map
#	cp -pf $(CURDIR)/rules/emerging.rules/ETPRO-License.txt $(DSTDIR)/rules

# target: suricata.conf custom template
# std / common
# (installed by suricata-common)
# open
	cp -pf $(CURDIR)/fs/1.3.1/etc/suricata.yaml-et-custom $(DSTDIR)/1.3.1

# additional include file, alienvault.conf; config, supress, etc
	cp -pf $(CURDIR)/fs/1.3.1/etc/alienvault.conf $(DSTDIR)/1.3.1

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

