######################################################################
# Multi Router Traffic Grapher -- Example Configuration File
######################################################################
# This file is for use with mrtg-2.0
#
# Note:
#
# * Keywords must start at the begin of a line.
#
# * Lines which follow a keyword line which do start 
#   with a blank are appended to the keyword line
#
# * Empty Lines are ignored
#
# * Lines starting with a # sign are comments.

# Where should the logfiles, and webpages be created?

# Minimal mrtg.cfg
#--------------------
WorkDir: /var/lib/ossim/rrd/
#PathAdd: /usr/local/rrdtool-1.1.0/bin
#LibAdd: /usr/local/rrdtool-1.1.0/lib/perl
LogFormat: rrdtool
IconDir: /mrtg/
WriteExpires: Yes
Interval: 5
Refresh: 300

# Defaults
Background[_]: #FFFFFF
PageTop[$]: This page will refresh automatically every 5 minutes.
WithPeak[_]: wmy
XSize[_]: 340
YSize[_]: 100
Options[_]: growright, gauge, nopercent
Colours[_]: Blue#0000ff,Red#FF0000,DarkBlue#000099,Violet#ff00ff,Green#009900

# OSSIM
Include: /usr/share/ossim/mrtg/hosts/host_qualification.cfg
Include: /usr/share/ossim/mrtg/nets/net_qualification.cfg
Include: /usr/share/ossim/mrtg/global/global_qualification.cfg
Include: /usr/share/ossim/mrtg/level/level_qualification.cfg
