Package: ossim-modules-2.6.31.6
Version: 1.0-1
Architecture: amd64
Maintainer: root <jdelacasa@alienvault.com>
Installed-Size: 276
Depends: linux-image-2.6.31.6
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: 10 Gb interfaces drivers
 <insert long description, indented with spaces>
