Source: ossim-modules-2.6.31.6
Section: net
Priority: optional
Maintainer: AlienVault package developers <debian-devel@alienvault.com>
Origin: AlienVault
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.alienvault.com/

Package: ossim-modules-2.6.31.6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, linux-image-2.6.31.6
Description: 10 Gb interfaces drivers
 This package contains the Linux kernel's drivers for 10Gb network interfaces
