Source: alienvault-dummy-common
Section: net
Priority: standard
Maintainer: AlienVault package developers <debian-devel@alienvault.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.8.0
Homepage: http://www.alienvault.com

Package: alienvault-dummy-common
Architecture: all
Pre-Depends: augeas-tools
Depends: ${shlibs:Depends}, ${misc:Depends}, sudo, molly-guard, locales-all, bc, ntpdate, psmisc, htop, lynx, sysstat, libdbi-perl, openvpn, openvpn-blacklist, screen, zip, unzip, liblwp-useragent-determined-perl, libnet-irc-perl, smartmontools, ethtool, bash-completion, expect, snmp, snmpd, locate, vim, joe, python-statgrab, wget, iptraf, rsync, ipcalc, binutils, netdiag, chkconfig, iotop, lsof, tcpdump, less, irqbalance, bsd-mailx,
 ipmitool,
 sysvinit-core,
 aptitude,
 file,
# We need the openvt binary for first-boot.sh / finish ami build scripts
 kbd,
# This is needed to show up some extra info in the web UI.
 suricata-rules-default,
 ossim-cd-configs (>= ${source:Upstream-Version}),
 ossim-cd-tools (>= ${source:Upstream-Version}),
 ossim-menu-setup (>= ${source:Upstream-Version}),
 ossim-repo-key (>= ${source:Upstream-Version}),
 ossim-utils (>= 1:${source:Upstream-Version}),
 alienvault-firewall (>= ${source:Upstream-Version}),
 alienvault-api-core (>= ${source:Upstream-Version}),
 alienvault-doctor (>= ${source:Upstream-Version}),
 alienvault-monit (>= ${source:Upstream-Version}),
 alienvault-logrotate (>= ${source:Upstream-Version}),
 alienvault-network (>= ${source:Upstream-Version}),
 alienvault-pam (>= ${source:Upstream-Version}),
 alienvault-snmpd (>= ${source:Upstream-Version}),
 alienvault-openssh (>= ${source:Upstream-Version}),
 alienvault-vpn (>= ${source:Upstream-Version}),
 alienvault-sysctl (>= ${source:Upstream-Version}),
 alienvault-depmod (>= ${source:Upstream-Version}),
 alienvault-plymouth (>= ${source:Upstream-Version}),
 alienvault-postfix (>= ${source:Upstream-Version})
Replaces: alienvault-dummy-database (<< 5.1.0)
Breaks: alienvault-dummy-database (<< 5.1.0)
Description: MetaPackage for alienvault common components
 This package installs all common packages for all alienvault profiles.
